/Practica1SWII/nbproject/private/
/Practica1SWII/build/
/Practica1SWII/dist/
Practica1SWII/nbproject/private/private.properties
/Practica1SWIIRevisionCompañero/Practica1SW2/nbproject/private/
/Practica1SWIIRevisionCompañero/Practica1SW2/build/
Practica1SWII/nbproject/private/private.xml
